@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'VT323', monospace;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #dfdfdf;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
